.desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1fb94a;
}

.div {
    background-color: #1fb94a;
    width: 50%;
    text-align: center;
    position: relative; /* Added for positioning */
}

.text-wrapper {
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 40px; /* Increased spacing between "Add Product" and form */
}
