.desktop {
    background-color: #1fb94a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #1fb94a;
    width: 1440px;
    height: 1024px;
    position: relative;
}


.desktop .overlap {
    position: relative;
    width: 914px;
    height: 240px;
}

.desktop .rectangle {
    position: absolute;
    width: 913px;
    height: 240px;
    top: 0;
    left: 1px;
    border-radius: 25px;
    border: 1.5px solid;
    border-color: #11023d;
}





.desktop .info {
    position: relative;
    width: 911px;
    height: 50px;
    top: 40px;
    left: 0;
}



.desktop .overlap-group {
    position: absolute;
    width: 912px;
    height: 191px;
    top: 0;
    left: 0;
}

.desktop .line-3 {
    position: absolute;
    width: 908px;
    height: 33px;
    top: 0;
    left: 3px;
}







.desktop .line-4 {
    position: absolute;
    width: 908px;
    height: 33px;
    top: 63px;
    left: 0;
}

.desktop .line-5 {
    position: absolute;
    width: 908px;
    height: 33px;
    top: 95px;
    left: 0;
}

.desktop .line-6 {
    position: absolute;
    width: 908px;
    height: 33px;
    top: 126px;
    left: 0;
}

.desktop .line-7 {
    position: absolute;
    width: 908px;
    height: 33px;
    top: 159px;
    left: 0;
}

.desktop .line-8 {
    position: absolute;
    width: 908px;
    height: 33px;
    top: 31px;
    left: 3px;
}

.desktop .grid {
    position: absolute;
    width: 912px;
    height: 158px;
    top: 72px;
    left: 2px;
}

.desktop .line-10 {
    width: 910px;
    top: 31px;
    position: absolute;
    height: 1px;
    left: 0;
    object-fit: cover;
}

.desktop .line-11 {
    width: 910px;
    top: 62px;
    position: absolute;
    height: 1px;
    left: 1px;
    object-fit: cover;
}

.desktop .line-12 {
    width: 910px;
    top: 94px;
    position: absolute;
    height: 1px;
    left: 0;
    object-fit: cover;
}

.desktop .line-13 {
    position: absolute;
    width: 910px;
    height: 1px;
    top: 126px;
    left: 1px;
    object-fit: cover;
}

.desktop .line-14 {
    position: absolute;
    width: 897px;
    height: 1px;
    top: 157px;
    left: 7px;
    object-fit: cover;
}

.desktop .scroll-bar {
    position: absolute;
    width: 20px;
    height: 212px;
    top: 15px;
    left: 889px;
    background-color: #eeeeee;
    border-radius: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.desktop .rectangle-2 {
    position: relative;
    width: 14px;
    height: 33px;
    top: 42px;
    left: 3px;
    background-color: #487e57;
    border-radius: 100px;
}

.desktop .title {
    position: absolute;
    width: 248px;
    height: 35px;
    top: 7px;
    left: 35px;
}

.desktop .group {
    width: 939px;
    height: 722px;
    left: 0;
    background-color: #277c3f;
    border-radius: 22px;
    position: absolute;
    top: 0;
}

.desktop .overlap-group-wrapper {
    width: 88px;
    height: 76px;
    left: 409px;
    position: absolute;
    top: 0;
}

.desktop .overlap-group-2 {
    position: relative;
    width: 86px;
    height: 76px;
}

.desktop .rectangle-3 {
    position: absolute;
    width: 86px;
    height: 46px;
    top: 0;
    left: 0;
    background-color: #277c3f;
}

.desktop .text-wrapper-8 {
    position: center;
    top: 0;
    left: 5px;
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.8px;
    line-height: normal;
}

.desktop .overlap-wrapper {
    position: absolute;
    width: 945px;
    height: 626px;
    top: 96px;
    left: 0;
}

.desktop .overlap-2 {
    position: relative;
    width: 955px;
    height: 626px;
    margin-top: 20px;
    overflow-y: scroll;
}

.desktop .line-15 {
    position: fixed;
    width: 1px;
    height: calc(100% - 310px);
    top: 0;
    left: 691px;
    object-fit: cover;
}

.desktop .line-16 {
    position: fixed;
    width: 1px;
    height: calc(100% - 310px);
    top: 0;
    left: 455px;
    object-fit: cover;
}


.desktop .text-wrapper-9 {
    position: absolute;
    width: 195px;
    top: 14px;
    left: 493px;
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0.64px;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-10 {
    position: absolute;
    width: 195px;
    top: 16px;
    left: 116px;
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0.64px;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-11 {
    position: absolute;
    width: 200px;
    top: 15px;
    left: 713px;
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0.64px;
    line-height: normal;
}

.desktop .info-2 {
    position: relative;
    width: 936px;
    height: 503px;
    top: 99px;
    left: 0;
}

.desktop .overlap-3 {
    position: absolute;
    width: 936px;
    height: 85px;
    top: 0;
    left: 1px;
}

.desktop .line-17 {
    position: absolute;
    width: 936px;
    height: 1px;
    top: 4px;
    left: 0;
    object-fit: cover;
}

.desktop .line-18 {
    position: absolute;
    width: 936px;
    height: 1px;
    top: 4px;
    left: 0;
    object-fit: cover;
    margin-top: 80px;
}

.desktop .overlap-4 {
    position: absolute;
    width: 539px;
    height: 83px;
    top: 2px;
    left: 358px;
}





.desktop .remove {
    position: absolute;
    width: 51px;
    height: 46px;
    top: 16px;
    left: 488px;
}

.desktop .vector-wrapper {
    position: relative;
    width: 40px;
    height: 36px;
    top: 5px;
    left: 5px;
    border-radius: 20.12px/18.25px;
    border: 2px solid;
    border-color: var(--lineicon);
}

.desktop .vector {
    position: absolute;
    width: 19px;
    height: 2px;
    top: 15px;
    left: 9px;
}



.desktop .overlap-5 {
    position: absolute;
    width: 906px;
    height: 333px;
    top: 85px;
    left: 0;
}

.desktop .line-19 {
    position: absolute;
    width: 906px;
    height: 85px;
    top: 84px;
    left: 0;
}

.desktop .overlap-6 {
    position: absolute;
    width: 542px;
    height: 83px;
    top: 2px;
    left: 358px;
}



.desktop .line-20 {
    position: absolute;
    width: 906px;
    height: 85px;
    top: 168px;
    left: 0;
}

.desktop .remove-3 {
    top: 19px;
    position: absolute;
    width: 51px;
    height: 46px;
    left: 491px;
}

.desktop .line-21 {
    position: absolute;
    width: 906px;
    height: 85px;
    top: 248px;
    left: 0;
}

.desktop .line-22 {
    position: absolute;
    width: 903px;
    height: 85px;
    top: 0;
    left: 3px;
}

.desktop .line-23 {
    position: absolute;
    width: 906px;
    height: 85px;
    top: 418px;
    left: 0;
}

.desktop .remove-4 {
    top: 8px;
    position: absolute;
    width: 51px;
    height: 46px;
    left: 491px;
}

.desktop .grid-2 {
    position: absolute;
    width: 937px;
    height: 413px;
    top: 187px;
    left: 2px;
}



.desktop .line-25 {
    width: 936px;
    top: 81px;
    position: absolute;
    height: 1px;
    left: 0;
    object-fit: cover;
}

.desktop .line-26 {
    width: 936px;
    top: 164px;
    position: absolute;
    height: 1px;
    left: 1px;
    object-fit: cover;
}

.desktop .line-27 {
    width: 936px;
    top: 246px;
    position: absolute;
    height: 1px;
    left: 0;
    object-fit: cover;
}

.desktop .line-28 {
    position: absolute;
    width: 936px;
    height: 1px;
    top: 329px;
    left: 1px;
    object-fit: cover;
}

.desktop .line-29 {
    position: absolute;
    width: 922px;
    height: 1px;
    top: 411px;
    left: 7px;
    object-fit: cover;
}

.desktop .rectangle-wrapper {
    position: absolute;
    width: 20px;
    height: 551px;
    top: 39px;
    left: 914px;
    background-color: #eeeeee;
    border-radius: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.desktop .rectangle-5 {
    position: relative;
    width: 15px;
    height: 87px;
    top: 109px;
    left: 3px;
    background-color: #487e57;
    border-radius: 100px;
}

.desktop .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
}

.desktop .text-wrapper-13 {
    width: 20px; /* Adjust width as needed */
    text-align: center;
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    font-size: 32px;
    color: #11023d;
    letter-spacing: 0.64px;
    line-height: normal;
    margin-left: 300px;
}

.desktop .name {
    width: 100px; /* Adjust width as needed */
    text-align: center;
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    font-size: 32px;
    color: #11023d;
    letter-spacing: 0.64px;
    line-height: normal;
    margin-left: 120px;
}

.desktop .text-wrapper-12 {
    width: 200px; /* Adjust width as needed */
    text-align: center;
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    font-size: 32px;
    color: #11023d;
    letter-spacing: 0.64px;
    line-height: normal;
    margin-left: 130px;
}

.desktop .remove-2 {
    width: 51px;
    height: 46px;
    cursor: pointer;
}

.desktop .line-24 {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    object-fit: cover;
}

.desktop .card {
    width: 316px;
    height: 96px;
    margin-bottom: 20px; /* Adds space between the two cards */
}

.desktop .div-wrapper {
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    border-radius: 20px;
    border: 2px solid #1c1a5e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop .text-wrapper-14, .desktop .text-wrapper-15 {
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    color: #11023d;
    font-size: 48px;
    line-height: normal;
    white-space: nowrap;
}

/* Container to align items to the right */
.desktop .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    padding-right: 20px; /* Optional padding */
}

.desktop .table {
    position: absolute;
    width: 939px;
    height: 302px;
    top: 722px;
    left: 0;
    background-color: #487e57;
    border-radius: 30px;
}

.desktop .text-wrapper-7 {
    position: absolute;
    width: 246px;
    top: 0;
    left: 0;
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    color: #11023d;
    font-size: 40px;
    letter-spacing: 0.8px;
    line-height: normal;
    white-space: nowrap;
    margin-top: 5px;
    margin-left: 15px;
}

.desktop .full-table {
    position: relative;
    width: 930px;
    height: 250px;
    top: 50px;
    left: 11px;
    overflow-y: scroll;
}

.desktop .line {
    position: fixed;
    width: 1px;
    height: 100%;
    top: 550px;
    left: 691px;
    object-fit: cover;
}

.desktop .img {
    position: fixed;
    width: 1px;
    height: 100%;
    top: 550px;
    left: 490px;
    object-fit: cover;
}

.desktop .text-wrapper {
    width: 81px;
    top: 6px;
    left: 170px;
    color: #ffffff;
    white-space: nowrap;
    position: absolute;
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.64px;
    line-height: normal;
}

.desktop .text-wrapper-2 {
    position: absolute;
    width: 190px;
    top: 2px;
    left: 469px;
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0.64px;
    line-height: normal;
    white-space: nowrap;
}

.desktop .text-wrapper-3 {
    position: absolute;
    width: 195px;
    top: 6px;
    left: 694px;
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0.64px;
    line-height: normal;
    white-space: nowrap;
}

.desktop .line-2 {
    position: absolute;
    width: 910px;
    height: 1px;
    top: 41px;
    left: 1px;
    object-fit: cover;
}

.desktop .text-wrapper-4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    text-align: center;
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    font-size: 32px;
    color: #11023d;
    letter-spacing: 0.64px;
    line-height: normal;
}

.desktop .text-wrapper-5 {
    position: absolute;
    top: 0;
    left: 660px;
    width: 200px;
    text-align: center;
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    font-size: 32px;
    color: #11023d;
    letter-spacing: 0.64px;
    line-height: normal;
}

.desktop .text-wrapper-6 {
    position: relative;
    top: 0;
    left: 480px;
    width: 200px;
    text-align: center;
    font-family: "Hubballi-Regular", Helvetica;
    font-weight: 400;
    font-size: 32px;
    color: #11023d;
    letter-spacing: 0.64px;
    line-height: normal;
}

.desktop .line-9 {
    position: relative;
    width: 100%;
    height: 1px;
    /* Adjust other styles as needed */
}


