.desktop {
    background-color: #1fb94a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #1fb94a;
    width: 1440px;
    height: 1024px;
    position: relative;
}

.desktop .text-wrapper {
    position: absolute;
    width: 798px;
    height: 48px;
    top: 120px;
    left: 321px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #0b0404;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .overlap {
    position: absolute;
    width: 639px;
    height: 72px;
    top: 200px;
    left: 400px;
    background-color: #d9d9d9;
}

.desktop .overlap-2 {
    position: absolute;
    width: 639px;
    height: 72px;
    top: 316px;
    left: 400px;
    background-color: #d9d9d9;
}

.desktop .text-wrapper-2 {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #00000054;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    outline: none;
}

.desktop .overlap-group {
    position: absolute;
    width: 639px;
    height: 72px;
    top: 428px;
    left: 400px;
    background-color: #d9d9d9;
}

.desktop .text-wrapper-3 {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #00000054;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    outline: none;
}

.desktop .div-wrapper {
    position: absolute;
    width: 494px;
    height: 77px;
    top: 527px;
    left: 465px;
    background-color: #141ab7;
}

.desktop .text-wrapper-4 {
    position: absolute;
    width: 494px;
    height: 48px;
    top: 9px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
.alert-success {
    text-align: center;
    font-size: 44px;
}
