<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
<style>
    .desktop {
        background-color: #1fb94a;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .desktop .div {
        background-color: #1fb94a;
        width: 1440px;
        height: 1024px;
        position: relative;
    }

    .desktop .overlap {
        position: absolute;
        width: 1440px;
        height: 724px;
        top: 300px;
        left: 0;
        background-color: #0b852d;
        overflow-y: auto; /* Allow vertical scrolling */
        padding: 20px; /* Add padding for inner content */
        box-sizing: border-box; /* Ensure padding doesn't affect width */
        display: flex;
        flex-direction: column;
        align-items: center; /* Center content horizontally */
    }

    .desktop .product-card {
        margin-bottom: 20px; /* Keep spacing between product cards */
        width: 100%;
        max-width: 600px; /* Ensure a max width for the card */
        background-color: transparent; /* Remove white background */
        padding: 0; /* Remove padding */
        box-shadow: none; /* Remove shadow */
    }

    .desktop .overlap-group {
        margin-bottom: 20px; /* Add space between overlap groups */
        width: 100%; /* Adjust width to be wider */
        max-width: 600px; /* Ensure a max width for the group */
        background-color: transparent; /* Match background color */
    }

    .desktop .div-wrapper {
        width: 100%; /* Ensure full width */
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .desktop .group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%; /* Ensure full width */
    }

    .desktop .overlap-2{
        background-color: #1fb94a;
        padding: 10px;
        border-radius: 5px;
        width: 100%; /* Ensure full width */
    }

    .desktop .text-wrapper-2,
    .desktop .add-to-cart,
    .desktop .Edit,
    .desktop .Delete
    {
        text-align: center;
        color: #000;
        width: 100%; /* Ensure full width */
    }

    .desktop .overlap-13 {
        position: absolute;
        width: 1440px;
        height: 86px;
        top: 0;
        left: 0;
        background-color: #49985f;
    }

    .desktop .text-wrapper-9 {
        position: absolute;
        width: 332px;
        height: 48px;
        top: 18px;
        left: 631px;
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 40px;
        letter-spacing: 0;
        line-height: normal;
    }

    .desktop .basket-fill {
        position: absolute;
        width: 88px;
        height: 80px;
        top: 128px;
        left: 1352px;
    }

    .desktop .text-wrapper-10 {
        position: absolute;
        width: 1096px;
        top: 137px;
        left: 172px;
        font-family: "Hubballi-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 64px;
        text-align: center;
        letter-spacing: 1.28px;
        line-height: normal;
    }
    .desktop .overlap-3{
        background-color: inherit;
        padding: 10px;
        border-radius: 5px;
        width: 100%; /* Ensure full width */
    }

    .desktop .overlap-8 {
        padding: 10px;
        width: 100%; /* Ensure full width */
        top: 633px;
        left: 45px;
        background-color: inherit;
        border-radius: 22px;
    }

    .search-bar {
        width: 100%; /* Adjust the width as needed */
        height: 100%;
    }

    .photo-display-container {
        width: 300px; /* Increase width */
        height: 300px; /* Increase height */
        background-color: #0b852d; /* Match the background */
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden; /* Ensure the photo fits within the container */
        margin-top: 10px;
    }
    .photo-display {
        max-width: 100%;
        max-height: 100%;
    }
</style>
<div class="desktop">
    <div class="div">
        <div th:if="${param.success}" class="alert alert-success">
            You are registered successfully!
        </div>
        <div class="overlap">
<!--            <form th:action="@{/home/search}">-->
<!--                <input name="query" class="search-bar" type="search" placeholder="Search products" aria-label="Search">-->
<!--            </form>-->
            <div class="product-card">
                <div th:each="product, iterStat : ${products}" class="overlap-group">
                    <div class="div-wrapper">
                        <div class="photo-display-container">
                            <img class="photo-display" th:src="${product.photoUrl}" alt="Product photo" />
                        </div>
                    </div>
                    <div class="group">
                        <div class="overlap-2">
                            <div class="text-wrapper-2" th:text="${product.name}">product name</div>
                        </div>
                        <div class="overlap-2">
                            <div class="text-wrapper-2" th:text="${product.description}">product description</div>
                        </div>
                        <div class="overlap-2">
                            <div class="text-wrapper-2">price: <span th:text="${product.price}"></span></div>
                        </div>
                        <a th:href="@{/home/{productId}/addToCart(productId = ${product.id})}">
                            <div class="overlap-3">
                                <button class="add-to-cart">add to cart</button>
                            </div>
                        </a>
                        <dev th:if = "${product.createdBy != null and user.roles.size() > 0}">
                            <div th:if = "${user.id == product.createdBy.id or user.roles.get(0).id == 1}">
                                <a th:href="@{/home/{productId}/edit(productId = ${product.id})}">
                                    <div class="overlap-3">
                                        <button class="Edit">Edit</button>
                                    </div>
                                </a>
                                <a th:href="@{/home/{productId}/delete(productId = ${product.id})}">
                                    <div class="overlap-8">
                                        <button class="Delete">Delete</button>
                                    </div>
                                </a>
                            </div>
                        </dev>
                    </div>
                </div>
            </div>
        </div>
        <a th:href="@{/home}">
            <div class="overlap-13">
                <div class="text-wrapper-9">HealthHub</div>
            </div>
        </a>
        <a th:href="@{/cart}"><img class="basket-fill" src="https://cdn-icons-png.flaticon.com/512/3721/3721818.png" alt="basket" /></a>
        <div class="text-wrapper-10">all products</div>
    </div>
</div>
</body>
</html>
