<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/LoginStyle.css" />
    <title>Login</title>
</head>
<body>
<style>
    .desktop {
        background-color: #1fb94a;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .desktop .div {
        background-color: #1fb94a;
        overflow: hidden;
        width: 1440px;
        height: 1024px;
        position: relative;
    }

    .desktop .text-wrapper {
        position: absolute;
        width: 798px;
        height: 48px;
        top: 201px;
        left: 321px;
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: #0b0404;
        font-size: 40px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
    }

    .desktop .overlap-group {
        position: absolute;
        width: 639px;
        height: 72px;
        top: 316px;
        left: 400px;
        background-color: #d9d9d9;
    }

    .desktop .text-wrapper-2 {
        width: 100%;
        height: 100%;
        border: none;
        background: none;
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: #00000054;
        font-size: 24px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        outline: none;
    }

    .desktop .overlap {
        position: absolute;
        width: 639px;
        height: 72px;
        top: 428px;
        left: 400px;
        background-color: #d9d9d9;
    }

    .desktop .text-wrapper-3 {
        width: 100%;
        height: 100%;
        border: none;
        background: none;
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: #00000054;
        font-size: 24px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        outline: none;
    }

    .desktop .text-wrapper-4 {
        position: absolute;
        width: 1440px;
        height: 29px;
        top: 625px;
        left: 0;
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: #ffffff;
        font-size: 24px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
    }

    .desktop .text-wrapper-5 {
        position: absolute;
        width: 1440px;
        height: 58px;
        top: 131px;
        left: -1px;
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: #0b0404;
        font-size: 48px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
    }

    .desktop .div-wrapper {
        position: absolute;
        width: 494px;
        height: 70px;
        top: 512px;
        left: 473px;
        background-color: #141ab7;
    }

    .desktop .text-wrapper-6 {
        position: absolute;
        width: 494px;
        height: 44px;
        top: 8px;
        left: 0;
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: #ffffff;
        font-size: 40px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
    }
</style>
<div class="desktop">
    <div class="div">
        <div th:if="${param.error}" class="alert alert-success">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>
        <div class="login-form">
            <p class="text-wrapper">log in to your account</p>
            <form method="post" role = "form" th:action="@{/login}">
                <div class ="overlap-group">
                    <input type="text"
                           class="text-wrapper-2"
                           placeholder="Enter username"
                           id="username"
                           name="username">
                </div>
                <div class="overlap">
                    <input type="password"
                           class="text-wrapper-3"
                           placeholder="password"
                           id="password"
                           name="password">
                </div>
                <button type="submit" class="div-wrapper">
                    <div class="text-wrapper-6">log in</div>
                </button>
                <a th:href="@{/register}" class="text-wrapper-4">Register new account</a>
            </form>
        </div>
        <div class="text-wrapper-5">welcome to HealthHub</div>
    </div>
</div>
</body>
</html>
